* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "ubisoft_sansbold", sans-serif;
}
body  {
    margin: 0;
    padding: 0;
}
app-container  {
    margin: 0;
    padding: 0;
}


.navegador{
    width: 100%;
    height: 7%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    font-weight: bold;
    cursor: pointer;
    position: fixed;
    z-index: 1;
}
.navegador img  {
    width: 10%;
    margin-left: 40px;
    object-fit: cover;
}
.links  {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.links p  {
    margin-left: 70px;  
}
.user-icon, 
.download  {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-icon svg  {
    width: 40%;
}
.user-icon  {
    margin-left: 7%;
}
.user-icon p  {
    margin-left: -100%;
}

.last-news div  {
    display: flex;
    gap: 3rem;
    margin-top: 2%;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    color: #D80388;
    
}
.last-news div p:hover  {
    color: black;
    border-bottom: 2px solid black;
    
}
.last-news  {
    text-align: center;
}
.last-news h1  {
    font-size: 28px;
}
#all-news  {
    font-weight: bold;
}




.decriptgame{
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding: 2.5rem;
    margin-top: 0.4rem;
}

.decriptgame .control1  {
    width: 50%;
}
.decriptgame .control2  {
    width: 50%;
}
#firstImg  {
    width: 100%;
    
}

.controlCard  {
    margin-bottom: 4rem;
    
}
.controlCard2  {
    margin-top: 3rem;
}

.control1 p  {
    font-size: 12px;
    margin-bottom: 8px;
    margin-top: 10px;
}
.control1 h3 {
    margin-top: 0;
    font-weight:bolder;
    line-height: 1.5rem;
    margin-right: 1rem;
}


   
.sectStore h1 {
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    text-shadow: 0px 0px 0.5px rgb(0, 0, 0);
    font-size: 26px;
    margin-top: 2%;
}
.sectStore{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 790px;
    background-color: #eeeeee;
    padding: 2rem;
}

.sectStore div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 2rem;
}




.sectInside h1 {
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    text-shadow: 0px 0px 0.5px rgb(0, 0, 0);
    font-size: 26px;
    margin-top: 2%;
}
.sectInside{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    background-color: #ffffff;
    padding: 2rem;
}

.sectInside #container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 2rem;
}

.cards4 img  {
    width: 100%;
    border-radius: 2%;
}
.cards4  {
    position: relative;
}
.cards4 h3 {
    position: absolute;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 21px;
    text-shadow: 0px 0px 1px rgb(255, 255, 255);
    bottom: 3%;
    margin: 10%;
    font-size: 22px;
}
