* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "ubisoft_sansbold", sans-serif;
}
body  {
    margin: 0;
    padding: 0;
}
app-container  {
    margin: 0;
    padding: 0;
}


.navegador{
    width: 100%;
    height: 20%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    font-weight: bold;
    cursor: pointer;
}
.navegador img  {
    width: 12%;
    margin-left: 40px;
    object-fit: cover;
}
.links  {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.links p  {
    margin-left: 70px;  
}
.user-icon, 
.download  {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-icon svg  {
    width: 40%;
}
.user-icon  {
    margin-left: 7%;
}
.user-icon p  {
    margin-left: -100%;
}